<h1>VideoGames</h1>

<%= link_to 'Add', video_games_add_path %>

<% if @video_games.any? %>
  <ul>
    <% @video_games.each do |video_game| %>
      <li>
        <span class="video-game-name">
          <%= video_game.name %>
        </span>
        <p>Editor: <%= video_game.editor %></p>
        <p>Description: <%= video_game.description %></p>
      </li>
    <% end %>
  </ul>
<% end %>
